.mobile-menu-component.active {
  height: 100%;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}

.mobile-menu-component {
  background-color: #3726af;
  position: fixed;
  width: 100%;
  font-size: 14px;
  color: #fff;
  display: block;
  height: 0;
  top: 46px;
  box-shadow: 0 0 10px 0 rgba(35, 39, 43, 0.2);
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;

  &--nav {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &__list {
      color: #fff;
      width: 80%;
      margin: 0 auto;
      padding: 30px 0;
      overflow: hidden;

      > li {
        padding: 13px 0;

        ol {
          position: relative;
          top: 0;
          height: 0;
          overflow: hidden;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;

          li {
            padding: 7px 10px;
            font-size: 14px;

          }
        }

        ol.active {
          height: 84px;
          max-height: 84px;
          overflow: hidden;
        }

        a {
          color: #fff;
        }

      }
    }

    //list

    &__client-info {
      padding: 30px 0;
      border-top: 1px solid #523ed9;

      /*모바일 썸네일 영역*/
      &__status {
        position: relative;
        color: #fff;
        width: 80%;
        margin: 0 auto;

        img {
          position: absolute;
          width: 48px;
          height: 48px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
          -moz-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
          overflow: hidden;
        }

        &__desc {
          padding-left: 62px;

          >div{
            margin-top: 11px;

            span{
              width: 70px;
              text-align: left;
              font-size: 10px;
              color: #6a6a6a;
              padding: 11px 0;
            }

            span:first-child{
              padding-right: 16px;
            }
          }
          > div span {
            color: #fff;
            opacity: .85;
          }

          p {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            max-width: 148px;
            word-break: keep-all;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            line-height: normal;

            span{
              vertical-align: baseline;
            }
          }
        }


        &__more{
          position: relative;
          text-align: right;
          margin: 20px 0 15px;

          .__more-info-button{
            display: inline-block;
            text-align: center;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            padding: 5px 10px;
            color: #fff;
            font-size: 10px;
            cursor: pointer;
            top: 16px;
            background-color: #523ed9;
          }
          &--vertical-bar{
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 70px;
            height: 2px;
            background-color: #00f0d6;
          }
        }
      }

      //status

      //head
      &__list {
        width: 80%;
        margin: 0 auto;

        li {
          padding: 17px 0;
          border-bottom: 1px solid #523ed9;

          a {
            color: #fff;
          }
        }
      }

      &__sign {
        position: relative;
        width: 80%;
        margin: 0 auto;
        text-align: right;

        a {
          color: #00f0d6;
          padding: 16px 0;
          font-size: 12px;
        }

      }

    }

    //info

  }

  //nav
}