@charset "UTF-8";

.third-section {
  position: relative;
  background: url("./web-bottle-3-bg@2x.png") no-repeat center/cover;

  .third-section--desc {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    .third-section--desc--integration {
      display: inline-block;
      margin-top: 3.8021vw;
      width: 161px;
      height: 12px;
      background: url("./app-integration.svg") no-repeat center/contain;
      h2 {
        opacity: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
    }
    //third-section--desc--integration

    h1 {
      font-size: 2.916vw;
      text-align: center;
      margin-top: 3.2292vw;
      font-weight: 300;
      letter-spacing: -2.6px;
      line-height: 3.2291vw;
      color:#333;
    }

    p {
      margin-top: 1.5625vw;
      font-size: 1.1458vw;
      color: #8a8a8a;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }

  }
  //  .third-section--desc

  .third-section--progress {
    position: relative;
    display: table;
    margin: 3.7396vw auto 0;

    > div {
      position: relative;
      display: table-cell;
      text-align: center;

      span {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -30px;
        display: block;
        width: 150px;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .third-section--progress--device {
      position: relative;
      display: inline-block;
      width: 5.7292vw;
      height: 5.7292vw;
      z-index: 1;

    }
    .third-section--progress--data {
      position: relative;
      display: inline-block;
      width: 3.0208vw;
      min-width: 50px;
      padding: 0 2.3958vw;
      z-index: 1;
    }

    .horizon-bar {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 95%;
      height: 2px;
      object-fit: contain;
      background-image: linear-gradient(to right, #8ae0ed, #82e7c7);
    }
    //horizon-bar

  }
  //third-section--progress

  .third-section--devices {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    img {
      display: inline-block;
    }

    img:first-child {
      position: relative;
      bottom: 35px;
      width:12.7083vw;
      min-width: 122px;
    }
    img:last-child {
      margin-left: 2.239vw;
      width: 15vw;
      min-width: 144px;
      vertical-align: bottom;

    }

  }
  //third-section--devices

}

//third-section

@media only screen and (max-width: 640px) {

  .third-section {

    .third-section--desc {

      .third-section--desc--integration {
        width: 240px;
        height: 20px;
        margin-top: 14.4928vw;
        h2 {

        }
      }
      //third-section--desc--integration

      h1 {
        margin-top: 20px;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -1px;
      }

      p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
      }

    }
    //  .third-section--desc

    .third-section--progress {
      width: 85%;

      > div {

        span {
          bottom: -20px;
          font-size: 2.8986vw;
          width: 100px;
        }
      }
      .third-section--progress--device {
        width: 11.5942vw;
        height: 11.5942vw;
      }
      .third-section--progress--data {
        width: 7.2464vw;
        height: 6.2802vw;
        min-width: initial;
      }

      .horizon-bar {
        width: 85%;
      }
      //horizon-bar

    }
    //third-section--progress

    .third-section--devices {

      img {
      }

      img:first-child {
        bottom: 10px;
        width: 15.5521vw;

      }
      img:last-child {

      }

    }
    //third-section--devices

  }

  //third-section

}

@media only screen and (max-width: 320px) {

  .third-section {

    .third-section--desc {

      .third-section--desc--integration {
        width: 220px;
        height: 18px;
        margin-top: 7.4928vw;
        h2 {

        }
      }
      //third-section--desc--integration

      h1 {
        margin-top: 7.4928vw;
        font-size: 6.6957vw;
        line-height: 8vw;
      }

      p {
        font-size: 3.8648vw;
        margin-top: 7.2464vw;
      }

    }
    //  .third-section--desc

    .third-section--progress {
      width: 90%;
      margin: 30px auto 0;

      > div {

        span {
          bottom: -20px;
          font-size: 2.8986vw;
        }
      }
      .third-section--progress--device {
      }
      .third-section--progress--data {
      }

      .horizon-bar {


      }
      //horizon-bar

    }
    //third-section--progress

    .third-section--devices {

      img {
      }

      img:first-child {
        display: none;

      }
      img:last-child {

      }

    }
    //third-section--devices

  }

  //third-section

}