@charset "UTF-8";

.seventh-section {
  position: relative;
  background-color: #eff6f9;

  text-align: center;
  .seventh-section--bottle-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    width: 42.5vw;
    height: 26.71875vw;
    min-width:408px;
    min-height: 257px;
    background: url("./web-peepee-7-hands-peepee@2x.png") no-repeat center/contain;
    overflow: hidden;
    text-indent: -9999px;

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  //seventh-section--bottle-image

  .seventh-section--desc {
    text-align: center;
    margin-top: 57px;
    .seventh-section--desc--app-integration {
      margin-top: 73px;
      display: inline-block;
      width: 164px;
      height: 12px;
      background: url("./product-details.svg") no-repeat center/contain;

      h2 {
        opacity: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
    }
    //seventh-section--desc--app-integration
    h1 {
      margin-top: 62px;
      font-size: 2.9166vw;
      line-height: 3.22916vw;
      font-weight: 300;
      letter-spacing: -2.6px;
      color: #333;

    }

    p {
      margin-top: 30px;
      font-size: 1.1458vw;
      line-height: normal;
      font-weight: 500;
      color: #8a8a8a;
    }
  }
  //seventh-section--desc

}

//seventh-section

@media only screen and (max-width: 640px) {
  .seventh-section {

    .seventh-section--bottle-image {
      width: 78.744vw;
      height: 49.5169vw;
      min-width: 0;
      min-height: 0;
    }
    //seventh-section--bottle-image

    .seventh-section--desc {

      .seventh-section--desc--app-integration {
        width: 240px;
        height: 20px;
        margin-top: 14.4928vw;
      }

      h1 {
        margin-top: 20px;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -1px;

      }

      p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
      }
    }
    //seventh-section--desc

  }

}

@media only screen and (max-width: 320px) {
  .seventh-section {

    .seventh-section--bottle-image {
      width: 64.855vw;
      height: 73.1354vw;

    }
    //seventh-section--bottle-image

    .seventh-section--desc {
      .seventh-section--desc--app-integration {
        width: 220px;
        height: 18px;
        margin-top: 7.4928vw;

      }
      h1 {
        margin-top: 7.4928vw;
        font-size: 6.6957vw;
        line-height: 8vw;

      }

    }
    //seventh-section--desc

  }
}
