@import '../../lib/base';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  -webkit-transition: all .5s cubic-bezier(.215,.61,.355,1);
  -moz-transition: all .5s cubic-bezier(.215,.61,.355,1);
  -ms-transition: all .5s cubic-bezier(.215,.61,.355,1);
  -o-transition:all .5s cubic-bezier(.215,.61,.355,1);
  transition: all .5s cubic-bezier(.215,.61,.355,1);
  background:#fff url("./web-header-line@2x.png") no-repeat bottom/100% 1px;
  opacity: 1;

  &.__scrolling-down{
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  > div:nth-child(1) {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    position: relative;
    display: table;
    //padding: 13px 0;
    height: 60px;
    width: 70%;
    margin: 0 auto;
  }

  a {
    cursor: pointer;
    color: #3726af;
    display: inline-block;
    vertical-align: baseline;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;

    span.active {
      color: #3726af !important;
      font-weight: 500;
    }
  }

  /*메뉴 오버시*/
  a:hover {
    color: #6d5ddb;
  }


  &--logo, &--navigation, &--menu {
    display: table-cell;
  }

  //로고

  &--logo {
    a {
      position: relative;
      display: inline-block;
      width: 115px;
      height: 32px;
      background: url('./litttlone-logo@2x.png') no-repeat center/contain;

      .__beta-testing {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 8px;
        top: 4px;
        right: -23px;
        z-index: 99;
        background: url("./we_arn_in_beta.svg") no-repeat center/contain;
      }

    }
  }

  /*네비게이션*/

  &--navigation {
    width: 60%;
    position: relative;

    ul {
      position: relative;
      padding-left: 17%;

      padding-right: 10%;
      text-align: center;

      li {
        position: relative;
        float: left;
        width: 25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        a {
          position: relative;
          font-size: 14px;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;

          span {
            font-weight: 300;
          }

        }

        a:hover {
          color: #9013fe;
        }

        .navigation__effect {
          position: absolute;
          top: 34px;
          width: 0;
          height: 4px;
          background-color: #3726af;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }

        .navigation__effect.active {
          width: 100%;
        }

        .selected_effect {
          position: absolute;
          top: 34px;
          width: 100%;
          height: 4px;
          background-color: #3726af;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }

      }
    }

  }

  /*메뉴*/
  &--menu {
    width: 99px;
    padding: 2px 0;
    text-align: right;

    .header--menu__login {
      padding: 6px 0;
      display: inline-block;

      > a {
        font-weight: 300;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        &:hover {
          font-weight: 500;
          color: $violet;
        }
      }
    }

    a {
      font-size: 14px;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }

    a:hover {
      color: #00f0d6;
    }

    > div {
      display: inline-block;
    }

    &__alarm {
      position: relative;
      width: 14px;
      height: 16px;
      padding: 6px;
      background: url('./btn-notification@2x.png') no-repeat center/14px 16px;
      cursor: pointer;
      text-align: left;
      z-index: 6;

      &__notification {
        position: absolute;
        top: 2px;
        right: 0;
        width: 6px;
        height: 6px;
        background-color: #ff1a6f;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: notifyAni 0.7s linear alternate infinite;
        -o-animation: notifyAni 0.7s linear alternate infinite;
        animation: notifyAni 0.7s linear alternate infinite;
      }
    }

    &__client-info {
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin-left: 38.4060%;
      text-align: left;
      z-index: 6;

      > a {
        width: 32px;
        height: 32px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);

        img {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }

    }

  }

}

@keyframes notifyAni {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.header--hamburger {
  display: none;
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 12px;

  &__menu, span {
    display: inline-block;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  &__menu {
    position: relative;
    width: 16px;
    height: 12px;
    display: none;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #3726af;
      border-radius: 4px;
    }

    span:nth-child(1) {
      top: 0;
    }

    span:nth-child(2) {
      top: 5px;
    }

    span:nth-child(3) {
      bottom: 0px;
    }

    .active {
    }

  }

}

/*햄버거 버튼 x자로*/
.header--hamburger__menu.active span:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  -moz-transform: translateY(6px) rotate(-45deg);
  -ms-transform: translateY(6px) rotate(-45deg);
  -o-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
  background-color: #3726af;
}

.header--hamburger__menu.active span:nth-child(2) {
  opacity: 0;
}

.header--hamburger__menu.active span:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  -moz-transform: translateY(-4px) rotate(45deg);
  -ms-transform: translateY(-4px) rotate(45deg);
  -o-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
  background-color: #3726af;
}



@media only screen and (max-width: $tablet-large-width) {

  .header--navigation ul {
    padding-left: 10%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
}

@media only screen and (max-width: 768px) {

  .header > div:nth-child(1) {
    width: 90%;
    max-height: 48px;
    height: 48px;
  }
  .header--logo a {
    width: 101px;
    height: 28px;
  }
  .header--menu .header--menu__login {
    display: none;
  }

  /*햄버거 버튼 보여주기*/
  .header--hamburger {
    display: block;
  }

  /*가운데 네비게이션 숨김*/
  .header--navigation {
    display: none;
  }

  //
  .header--menu {
    position: absolute;
    right: 72px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    min-width: 0;
  }
  /*우측  사용자 메뉴 숨김*/
  .header--menu__client-info {
    display: none !important;
  }

  /*로고 가운데 정렬*/
  .header--logo {
    text-align: center;
    width: 0;
  }

}

@media only screen and (max-width: 640px) {
  .header .more-info__button {
    top: 16px;
    background-color: #523ed9;
  }

  .header--mobile > nav {
    padding: 0 !important;
  }
  .header--mobile--user-info {
    height: 68%;
  }
  .header--sublink .header--sublink__device a {
    margin-right: 14.4928%;
  }
}

@media only screen and (max-width: 360px) {
  .header--menu {
    right: 60px;
  }
}


@media only screen and (max-width: 320px) {
  .header--mobile--menu {
    padding: 10px 0;
  }
  .header--mobile--menu > li a {
    font-size: 12px;
  }
  .header--mobile--menu > li {
    padding: 8px 0;
  }
  .header--mobile--user-info {
    padding: 10px 0;
  }
  .header--menu__client-info__head--desc p {
    font-size: 14px;
  }
  .header--menu__client-info__head--more {
    margin: 10px 0 10px;
  }
  .header--mobile--user-info__list li a {
    font-size: 12px;
  }
  .header--mobile--user-info__list li {
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header--menu__client-info__head--more--bottom-bar {
    bottom: -10px;
  }
}

