.phone-auth-modal {
  position: fixed;
  background-color: #fff;
  z-index: 9;
  width: 360px;
  max-width: 100%;
  direction: ltr;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  &--container {
    padding: 24px;


    &--process-text {
      margin-bottom: 15px;

      p {
        font-size: 14px;
        font-weight: 500;
        color: #333;

        em {
          color: #ff1a6f;
          vertical-align: baseline;
          font-weight: 700;
        }
      }

      div {
        margin-top: 8px;

        span {
          font-size: 14px;
          font-weight: 500;
          color:#333;
          vertical-align: baseline;
        }

        button {
          display: inline-block;
          border: none;
          cursor: pointer;
          font-size: 16px;
          margin-left: 4px;
          text-decoration: underline;
          color: #ff1a6f;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -ms-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;

          &:hover, &:focus{
            opacity: .6;
            color: #ff5274;
          }
        }
      }

    }

    &--button-box {
      text-align: right;
      margin-top: 5px;

      .__request-verify-btn {
        color: #fff;
        background-color: #3f51b5;
        font-size: 14px;
        font-weight: 500;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        height: 36px;
        line-height: 36px;
        padding: 0 15px;
        border: none;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;

        &:focus, &:hover {
          opacity: .85;
        }
      }

      .__request-verify-btn.cancel-btn {
        background-color: transparent;
        color: #333;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-right: 20px;
      }
    }


    &--title {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      padding-bottom: 40px;
    }

    //언어 선택 창
    .language-selector-container {
      position: relative;
      width: 280px;
      background-color: #fff;
      -webkit-box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
      z-index: 11;


      &--list {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 16px;
        padding: 10px 0;
        background-color: #fff;

        &__selector {
          display: block;
          width: 100%;
          border: none;
          background-color: #fff;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -ms-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
          height: 40px;
          cursor: pointer;
          line-height: 40px;

          > div {
            display: table-cell;
            font-size: 16px;
            font-weight: 500;
            color: #333;
          }

          .flag-icon {
            overflow: hidden;
            text-indent: -999px;
            width: 76px;
            min-height: 20px;
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.54))
          }

          &:hover, &:focus {
            background-color: rgba(158, 158, 158, 0.2);
            letter-spacing: 0.7px;
            outline: 0;
          }

          //국기 모양
          .--us {
            background: url("../../component/selector/United-States-of-America (1).png") no-repeat center/24px auto;
          }

          .--uk {
            background: url("../../component/selector/United-Kingdom (1).png") no-repeat center/24px auto;
          }

          .--ja {
            background: url("../../component/selector/Japan (1).png") no-repeat center/24px auto;
          }

          .--ko {
            background: url("../../component/selector/Korea,-South (1).png") no-repeat center/24px auto;
          }

          .--zh {
            background: url("../../component/selector/China (1).png") no-repeat center/24px auto;
          }

          .--ca {
            background: url("../../component/selector/Canada (1).png") no-repeat center/24px auto;
          }

          .--tw {
            background: url("../../component/selector/Taiwan (1).png") no-repeat center/24px auto;

          }

          .--au {
            background: url("../../component/selector/Australia (1).png") no-repeat center/24px auto;

          }

          .--sp {
            background: url("../../component/selector/Singapore (1).png") no-repeat center/24px auto;

          }

          //.--hk{
          //  background: url("../../component/selector/") no-repeat center/24px auto;
          //}

          .--nz {
            background: url("../../component/selector/New-Zealand (1).png") no-repeat center/24px auto;
          }

        }
      }
    }

    //language-selector-container
  }

  .phone-prefix-button {
    display: inline-block;
    background-image: url('../selector/arrow_drop_down_grey600_18dp.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-color: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    flex-shrink: 0;
    font-weight: 400;
    line-height: normal;
    margin: 20px 24px 20px 0;
    padding: 4px 20px 4px 0;
    width: 90px;
    font-size: 14px;

    span {
      display: inline-block;

    }

    .flag-icon {
      width: 24px;
      height: 14px;
      margin-right: 2px;

    }
  }

  .phone-text-field {
    display: inline-block;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    width: 180px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;

    label {
      position: absolute;
      top: 4px;
      font-size: 12px;
      font-weight: 300;
      color: #333;
      width: 100%;

      &:after {
        background-color: #3f51b5;
        bottom: -46px;
        content: '';
        height: 2px;
        left: 45%;
        position: absolute;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        visibility: hidden;
        width: 10px;
      }
    }

    label.active {
      &:after {
        left: 0%;
        visibility: visible;
        width: 100%;
      }
    }

    input {
      position: relative;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: block;
      font-size: 14px;
      margin: 0;
      padding: 12px 0;
      width: 100%;
      background: 0 0;
      text-align: left;
      color: #333;

    }
  }

  .phone-error-field {
    height: 20px;

    p {
      font-weight: 300;
      color: #ff1a6f;
      font-size: 14px;
      line-height: normal;
    }
  }

}